services:
  - type: worker
    name: perpustakaan-hadis-digital
    env: python
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python app.py"
    autoDeploy: true
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: HADITH_API_KEY
        sync: false
